.auth_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.auth_title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.auth_query {
    margin-bottom: 24px;
}

.auth_query a {
    color: #333;
}

.auth_query a:hover {
    text-decoration: none;
}